{
    "projects": [
        {
            "vcs": "hg",
            "owner": "dreisch",
            "name": "catfeederhg",
            "defaultBranch": "default",
            "commands": [
                {
                    "name": "synchronizedBranches",
                    "args": {
                        "from": "staging",
                        "to": "default"
                    }
                }
            ]
        },
        {
            "vcs": "git",
            "owner": "dreisch",
            "name": "catfeedergit",
            "defaultBranch": "master",
            "commands": [
                {
                    "name": "synchronizedBranches",
                    "args": {
                        "from": "staging",
                        "to": "develop"
                    }
                }
            ]
        }
    ]
}
